
{% block content %}
<html>
<head>
<style>
body {
  position:absolute;
  top: 80px;
  left: 500px;
  width: 300px;
  height: 100px;
  background-color: grey;
}
  h1,h4 {
   font-size:100%;
    color:yellowgreen;
}
     input[type=text], input[type=password] {
  width: 60%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
</style>
</head>
<body>
<h1><b>SIGN TO ROBOY.COM</b></h1>
<form action ="/login" method='post'>
    {%csrf_token%}
                    <label for="username">username:</label> <br>
                  <input placeholder="username"  type="text" name="username" id="username" >
                  <br>
                    <br>
                    <label for="password">Password:</label><br>
                  <input placeholder="Password" type="password" name="password" id="password" >
<br>
    <br>
    <br>
<input type="submit" value="login", name="login">
</form>
<div>
        {% for message in messages %}
        <h4>{{message}}</h4>
    {% endfor %}</div>
</body>
</html>
{% endblock %}